<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Test</title>
    <style>
        <%=cssRender %>
    </style>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">
        <fieldset>
            <form
                action="https://5bcbe199-3aa9-46ad-8ad8-f2fc4d809e5a-faas-http.tenant.prod-ng.test-functions.xfs.cloud.sap/post/"
                method="post">
                <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
                <input type="submit" class="ghost-button" value="Get Weather">
            </form>
            <% if(weather !== null){ %>
            <p><%= weather %></p>
            <% } %>

            <% if(error !== null){ %>
            <p><%= error %></p>
            <% } %>
        </fieldset>
    </div>
</body>

</html>